// @use '@material/button/mdc-button';
// @use '@material/button';
// @use "@material/list/mdc-list";
// @use "@material/menu-surface/mdc-menu-surface";
// @use "@material/menu/mdc-menu";
// @use "@material/select/mdc-select";

@import 'reset.scss';

$color: #eecccc;

body {
  margin: 16px 1vw;
  --mdc-theme-primary: #0097a7;
  --mdc-theme-secondary: #8d6e63;
  --mdc-theme-background: #ffffff;
}

mwc-select {
  min-width: 180px;
}

.demo-width-class {
  width: 200px;
}

nav#toolbar {
  padding: 16px 0;

  display: flex;
  // border-bottom: 1px solid #ccc;

  * {
    padding-right: 8px;
  }
}

budget-sankey {
  margin-top: 0;
  width: 98vw;
  height: calc(100vh - 164px);
  border: none;
}

h1 {
  font-family: Roboto;
  font-size: 1.6rem;
}
